.hero-container > h1 {
    color: #fff;
    font-size: 12px;
    margin-top: 250px;
    margin-left: 250px;
    text-align: left;
    font-weight: bold;
 
  
  }

  .hero-container > p {
    color: #fff;
    font-size: 30px;
    margin-left: 250px;
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .hero-container > p> em {
    color: #FF0000;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .profile-photo {
    margin-left: 1000px;
    margin-top: -300px;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  